*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
html{
    scroll-behavior: smooth;
}
.first{
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
}
nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 15px 100px 0 25px;
    
}
.logo img{
    width: 35px;
}
nav ul {
    flex: 1;
    float: right;
    
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    transition: 0.5s;
}
nav ul li a:hover{
    font-size: 16px;
    font-weight: 500;
}
.btn{
    display: inline-block;
    margin-right: 20px;
}
.login{
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 2px solid white;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.4s;
}
.join {
    margin-right: 40px;
    text-decoration: none;
    color: #000;
    padding: 10px 30px;
    border: 2px solid #000;
    font-size: 14px;
    border-radius: 30px;
    background-color: #fff;
    font-weight: 600;
    transition: 0.4s;
}
.login:hover{
    background-color: #fff;
    color: #000;
}
.join:hover {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
}
.content{
    width: 600px;
    margin-top: 180px;
    margin-left: 150px;
}
.content h1{
    font-size: 70px;
    font-weight: 800;
    font-family: cursive;
    color: #fff;
}
.content p{
    margin: 20px 0;
    color: #fff;
    font-weight: 600;
}
.content a{
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color: #fff;
    padding: 12px 50px;
    border: 2px solid white;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.5s;
}
.content a:hover {
    background-color: #fff;
    color: #000;
}
.feature{
    position: absolute;
    width: 400px;
    right: 100px;
    bottom: 0;
}
.feature img{
    width: 100%;
}
.second{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fff 0%, #fff 70%, #000 70%, #000 100%);
    position: relative;
}
.second>h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-family: cursive;
    font-size: 30px;
    color: black;
}
.container{
    height: 500px;
    width: 800px;
    margin-bottom: 20%;
    display: flex;
    margin: auto auto;
    justify-content: space-between;
}
.items{
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #fff;
}
.items img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.items h1{
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}
.items p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.move2 {
    position: absolute;
    bottom: 20px;
    left: 70%;
}
.move2 a {
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    padding: 10px 25px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.5s;
    border: 1px solid #fff;
}
.move2 a:hover{
    background: #000;
    color: #fff;
}
.third{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(#000 0%, #000 30%, #fff 30%, #fff 100%);
}
.profile{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 500px;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.profile h1{
    font-family: cursive;
    font-size: 30px;
    font-weight: 600;
}
.profile p{
    margin: 30px 0;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.minisub{
    display: inline-block;
    margin-right: 20px;
}
.minisub h2{
    font-weight: 600;
    font-family: cursive;
}
.minisub h5{
    font-size: 14px;
    font-family: sans-serif;
}
.para{
    font-size: 14px;
    font-weight: 600px;
    margin: 30px 0 50px;
    font-family: sans-serif;
    width: 400px;
}
.profile a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px 40px;
    background-color: #000;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 2px 3px 5px rgba(0,0,0,1);
    transition: 0.5s;
}
.profile a:hover{
    box-shadow: none;
    cursor: pointer;
}
.profile img{
    display: block;
    width: 300px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.move3{
    position: absolute;
    bottom: 20px;
    left: 70%;
}
.move3 a{
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    background-color: #000;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.4s;
    border: 1px solid #000;
}
.move3 a:hover{
    background: #fff;
    color: #000;
}

